<!DOCTYPE html>
<html>
<head>
  <title>天一智能脚本 | {{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="description" content="pp.tiwb.com" />
  <meta name="keywords" content="FreePiano tiwb" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <header>
    <img src="img/left_logo.gif" width="184" height="83">
    <a href="."><img src="img/left_menu0.gif" width="184" height="36"></a>
    <a href="help.html"><img src="img/left_menu1.gif" width="184" height="36"></a>
    <a href="script.html"><img src="img/left_menu2.gif" width="184" height="36"></a>
    <a href="faq.html"><img src="img/left_menu3.gif" width="184" height="36"></a>
    <a href="download.html"><img src="img/left_menu5.gif" width="184" height="36"></a>
    <img src="img/left_bottom.gif" width="184" height="22">
    <center style="padding-top:10px">
    <a href="#"><img src="img/left_download.gif" width="160" height="78"></a>
    </center>
  </header>

  <div class="container">
    <div class="content">
      <div><img src="img/i_text01.gif" width="108" height="22" /></div>
      <div><img src="img/line1.gif" width="555" height="10" /></div>
      {{ content }}
      <div style="height: 30px"></div>
      <div><img src="img/line1.gif" width="555" height="10" /></div>
      <center><font color="#737573">天一智能脚本 http://pp.tiwb.com</font></center>
    </div>
  </div>
</body>
</html>
